.DS_Store
__pycache__
task_map_explorations_with_multitask/individuals.csv
task_map_explorations_with_multitask/q2_from_diff_task_cols.csv
task_map_explorations_with_multitask/q2_OLS_from_diff_task_cols.csv
task_map_explorations_with_multitask/message_vectors/
task_map_explorations_with_multitask/q2_OLS_from_diff_task_cols_on_filtered_comms_data.csv
task_map_explorations_with_multitask/q2_exhaustive_search_outs/
task_map_explorations_with_multitask/sample_q2_exhaustive_search_outs/
task_map_explorations_with_multitask/sum_num_messages_q2_OLS_from_diff_task_cols.csv
task_map_explorations_with_multitask/team_burstiness_q2_OLS_from_diff_task_cols.csv
task_map_explorations_with_multitask/tpm_outputs/
task_map_explorations_with_multitask/turn_taking_index_q2_OLS_from_diff_task_cols.csv
task_map_explorations_with_multitask/multi_task_chat.csv
task_map_explorations_with_multitask/gini_coefficient_sum_num_messages_q2_OLS_from_diff_task_cols.csv
task_map_explorations_with_multitask/average_positive_bert_q2_OLS_from_diff_task_cols.csv